<!DOCTYPE html>
<html>
  <head>
    <title>misspianoforte :: marie's music studio</title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row header">
        <div class="span3">
          <%=image_tag "logo.png" %>
        </div>
        <div class="span8 row logo">
          <div class="row-fluid">
            <div class="span5 menu">
              <ul class="nav nav-stacked">
                <li><%=link_to "home", root_path %></li>
                <li><%=link_to "biography", home_bio_path %></li>
                <li><%=link_to "studio", home_studio_path %></li>
                <li><%=link_to "calendar", home_calendar_path %></li>
                <br />
                <li><big><%=link_to "contact", home_contact_path %></big></li>
              </ul>
              <div class="phone"><big><a href="tel:+19525941084"> 952.594.1084</a></big></div>
            </div>
            <div class="span3">
              <%=image_tag "block1.png", class: 'hidden-phone' %>
            </div>
            <div class="span3">
              <%=image_tag "block2.png", class: 'hidden-phone' %>
            </div>
          </div>
        </div>
      </div>

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>


      <div class="row content">
        <%= yield %>
      </div>

      <div class="row footer">
        <%=image_tag "misspianoforte.png" %>
      </div>
    </div>
  </body>
</html>
